numpy>=1.17
tqdm
dask>=0.17
pandas>=0.25
scipy
scikit-learn>=0.21
#func_timeout
#psutil
#gensim
#pyyaml<=5.4
#lightgbm>=3
#jieba
#pyahocorasick
#sqlite
#happybase
#faiss-cpu
#faiss-gpu
#elasticsearch==7.7.0
#kafka-python
#torch==1.12.0+cu113
#torchvision=0.13.0+cu113
#torchtext==0.4.0
#pyltp==0.4.0
#toad==0.1.2