numpy>=1.17
tqdm
dask>=0.17
pandas>=0.25
scipy
scikit-learn>=0.21
#func_timeout
#psutil
#gensim
#pyyaml<=5.4
#lightgbm
#jieba
#pyahocorasick
#sqlite
#happybase
#faiss-cpu
#faiss-gpu
#elasticsearch==7.7.0